.newsletter {
  padding: 2rem;
  background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(../img/revistas.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  margin-top: 6rem;
  padding-bottom: 4rem;
}

.newsletter h1 {
  font-size: 5rem;
  color: #fff;
  text-shadow: 0 .3rem .5rem #000;
}

.newsletter p {
  font-size: 2rem;
  color: #eee;
  padding: 1rem 15rem;
}

.newsletter form input {
  outline: none;
  border: none;
  height: 5rem;
}

.newsletter form input[type="email"] {
  width: 40rem;
  padding: 0 1rem;
  color: #fff;
  background: rgba(255,255,255,.2);
  font-size: 2rem;
  border-radius: .5rem;
}

.newsletter form input[type="email"]::placeholder {
  color: rgb(255, 250, 250);
}

.newsletter form input[type="submit"] {
  width: 20rem;
  padding: 0 1rem;
  color: #fff;
  background: #0098a1;
  font-size: 2rem;
  cursor: pointer;
  margin-left: 1.3rem;
  border-radius: .5rem;
  transition: .2s;
}

.newsletter form input[type="submit"]:hover {
  border: .2rem solid #fff;
  color: #fff;
  background: none;
}





@media (max-width: 768px) {
  
  .newsletter p {
    padding: 2rem 0;
  }

  .newsletter form input[type="email"] {
    width: 100%;
    margin-bottom: 2rem;
  }
}
